<!-- templates/partials/ridepasses_form.html -->

<fieldset>
<legend>Edit Ridepass</legend>
<!-- TITLE -->
<div class='form-group'>
        <label for='ridepass-title'>Title</label><br>
        <input class='form-control' id='ridepass-title' type='text' name='title' value='{{ ridepass.title }}'/>
    </div>

<!-- DESCRIPTION -->
<div class='form-group'>
        <label for='description'>Description</label><br>
        <input class='form-control' id='description' type='text' name='description' value='{{ ridepass.description }}' />
</div>

<!-- DESCRIPTION -->
    <div class='form-group'>
        <label for='ridepass-videos'>Videos</label><br/>
        <p class='text-muted'>Add videos in the form of 'https://youtube.com/embed/KEY'. Separate with a newline.</p>
        <textarea class='form-control' id='ridepass-videos' name='videos' rows='10' />{{ "\n".join(ridepass.videos) }}</textarea>
    </div>
</fieldset>

<!-- BUTTON -->
<!-- <p>
    <button type='submit'>Save Ridepass</button>
</p> -->
